/* #right-content{
    width: 800px;
    height: auto;
    justify-content: center;
}
#products{
    display: flex;

    height: 600px;
   
} */
/* #products .product{padding:3%;}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */
  .tbl{
    text-align: center;
    padding: 40px 30px 20px 10px;

}
.form1{
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: rgb(229, 198, 160);
}
#td{
    color: rgb(236, 153, 29);
}
#vl{
    color: rgb(250, 242, 242);
    background-color: chocolate;
}
tr{
    font-size: 20px;
    color: rgb(50, 165, 204);
}